backend/.env
backend/.env.production
backend/build/*
backend/vendor/*

frontend/env_vars.sh
frontent/build/*
frontend/node_modules/**

frontend/.env

scripts/.env
backend/.htaccess.production
backend/public/.htaccess.production
