backend/.env
backend/.env.production
backend/build/*
backend/vendor/*

frontend/.env
frontent/build/*
frontend/node_modules/**

scripts/.env
backend/.htaccess.production
backend/public/.htaccess.production
