<?php
/** * MySQL setting - prod
 */
define("DB_HOST", "----");
define("DB_USER", "----");
define("DB_PASSWORD", "----");
define("DB_NAME", "----");

define('GOOGLE_CLIENT_ID','----');
define('GOOGLE_CLIENT_SECRET', '----');
define ("GCAL_ID", "----");

define ("REPORT_TO", "my-email@gmail.com");
define ("SESSION_GOOGLE_TOKEN", "----");

define("ROOTURL", "/projects/");
define("BASEURL", ROOTURL . "tracker/");
define("ROOT_HTTP", "http://localhost".ROOTURL."calendar_tracker/");

define ("REPORT_TO", "my-email@gmail.com");
