
        </div>
        <ul>
        <li><a href="{{baseurl}}plans/">Plans</a></li>
<li><a href="{{baseurl}}viewDates/">Dates</a></li>
<li><a href="{{baseurl}}report/">Report</a></li>
</ul>
</body>
</html>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
