{% include '_header.twig' %}
<title>CalPlanner - Graph</title>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css">
<style>
.line {
  fill: none;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

#logEntriesContainer{
	display:none;
}
.logEntries td{
	padding: 5px;
	border: 1px solid black;

}
.overlay {
  fill: none;
  pointer-events: all;
}
.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}
</style>
{% include '_banner.twig' %}

<h2>Graph</h2>
<div id="milestones"></div>

<div id="chartMetricTrend"></div>
<div>
<label>Goal</label>
<input type="text" name="goal" id="goal" value="">

  <div class="form-row">
      <div class="input-group input-group-sm mb-3 col date" data-date-format="yyyy-mm-dd">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Start</span>
      </div>
      <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="startdate" id="startdate" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    <div class="input-group-addon" >
    <span class="glyphicon glyphicon-th"></span>
  </div>
    </div>
  </div>
  <div class="form-row" data-date-format="yyyy-mm-dd">
      <div class="input-group input-group-sm mb-3 col date" data-date-format="yyyy-mm-dd">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">End</span>
      </div>
      <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="enddate" id="enddate" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    <div class="input-group-addon" >
    <span class="glyphicon glyphicon-th"></span>
  </div>
    </div>
  </div>
<button onclick="changeDate()" class="button">Change Date</button>
</div>
<div>
<div id="chartWeekTrend" style="float:right"></div>
<div id="dayOfWeek"></div>
</div>
<button onclick="showEntries()" class="button">Show Logs</button>
<div id="logEntriesContainer"></div>

{% include '_footer.twig' %}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/5.14.2/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>


<script src="{{rootHttp}}public/js/d3-grapher.js"></script>
<script src="{{rootHttp}}public/js/logsGraph.js"></script>
<script>
 $('.input-group.date').datepicker({format: "yyyy-mm-dd"}); 
 </script>