{% include '_header.twig' %}
  <title>CalPlanner - Logs</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css">
  <style>
    section {
      margin: .25rem 0; 
    }
    .dateBtnRow {display:inline}
    .quickBtnRow {
      display:grid;
      grid-template-rows: 1fr 1fr;
      gap: .5rem;
      margin: 1rem 0;
    }
    .quickBtnRow > div {
      display:grid;
      gap: .5rem;
      grid-template-columns: 24% 24% 24% 24%
    }
  </style>
{% include '_banner.twig' %}

<h2>Logs -Create</h2>

<section class="quickBtnRow">
  <a class="btn btn-primary btn-sm" id="baseWeightBtn">144 weight</a>
  <div>
  <a class="btn btn-outline-danger btn-sm" id="weightDecrementSmallBtn">-.2</a>
  <a class="btn btn-outline-success btn-sm"  id="weightDecrementLargeBtn">-1</a>
  <a class="btn btn-outline-success btn-sm"  id="weightIncrementLargeBtn">+1</a>
  <a class="btn btn-outline-danger btn-sm"  id="weightIncrementSmallBtn">+.2</a>
  </div>
</section>
<section>
  <form method="post" action=""  class="form-inline">
    <input type="hidden" name="points" value="" id="pointsEntry">

      <div class="form-row">
      <div class="col">
        <select class="form-control form-control-sm" name="goal" id="goalEntry">
          <option>weight</option>
        {% for track in tracks %}
            <option>{{track.name}} </option>
        {% endfor %}
        </select>
      </div>
    
      <div class="input-group input-group-sm mb-3 col">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Count</span>
        </div>
        <input type="text" name="count" value="" id="countEntry" placeholder="Count" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>
    <div class="form-row">
        <div class="input-group input-group-sm mb-3 col">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
        </div>
        <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="date" id="logdate" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
      </div>
    </div>
    <div class="form-group"  style="width: 100%">
      <label for="comment">Comment:</label>
    <input type="text" name="comment" value="" style="width: 100%">
    </div>
    <input type="submit" name="go" value="Create"  class="btn btn-warning">
  </form>
</section>


<h2>Entries</h2>
<button id="prevBtn" class="btn btn-dark" >Prev</button>
<div id="logDate" class="dateBtnRow"></div>
<button id="nextBtn" class="btn btn-dark">Next</button>
<table class="table table-striped" style="width:90%">
   <tr>
        <th>Goal</th>
        <th>Date</th>
        <th>Points</th>
        <th>Count</th>
        <th>Note</th>
    </tr>
    <tbody id="logTableBody"></tbody>
</table>

<form method="post" action=""  class="form-inline">
    <input type="hidden" name="id" value="" id="editId">

<div class="form-group">
    <label for="goal">Goal:</label>
    <input type="text" name="goal" value="" id="editGoal">
  </div>
  <div class="form-group">
    <label for="points">Date:</label>
    <input type="text" name="date" value="" id="editDate">
  </div>

  <div class="form-group">
    <label for="count">Count:</label>
    <input type="text" name="count" value="" id="editCount">
  </div>
  <div class="form-group"  style="width: 100%">
    <label for="comment">Comment:</label>
   <input type="text" name="comment" value="" id="editComment" style="width: 100%">
  </div>
  <div class="form-group">
    <input type="submit" name="go" value="Update"  class="btn btn-warning">
  </div>
</div>

    <input type="hidden" name="points" value="" id="editPoints">
</form>

{% include '_footer.twig' %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="{{rootHttp}}public/js/logsEntries.js"></script>
<script>

const bootstrap_alert_warning = function(parentId, message) {
            $(`#${parentId}`).html('<div class="alert alert-success" id="alert"><a class="close" data-dismiss="alert">×</a><span>'+message+'</span></div>')
        }

$('.input-group.date').datepicker({format: "yyyy-mm-dd"});

$("#baseWeightBtn").click(()=> populateLog('weight', 1, 144.0));
$("#weightDecrementSmallBtn").click(()=> incrementWeight(-.2));
$("#weightDecrementLargeBtn").click(()=> incrementWeight(-1));
$("#weightIncrementLargeBtn").click(()=> incrementWeight(1));
$("#weightIncrementSmallBtn").click(()=> {
    incrementWeight(.2);

    console.log('hey');
    /*
    bootstrap_alert_warning('alert_ph', 'Your text goes here');
    $('#alert').fadeTo(2000, 500).slideUp(500, ()=>{
      $("#alert").slideUp(500);
      $('#alert').alert('close');
    });
    */
  });

$("#prevBtn").click(()=> changeLogDate(-1));
$("#nextBtn").click(()=> changeLogDate(1));

$(".trackBtn").click(e => populateLog($(e.currentTarget).data('track'), 1, 1));
{# $('#alert').alert('close'); #}
 </script>
